body {
margin:0; 
padding:0;
font-family:verdana;
}
.banner {
width:100%;
background:#4f4c4c;
}
#banner_logo {
width:760px;
margin:0 auto;
padding:5px 0 6px 9px;
background:#4f4c4c;
color:#fff
}
#banner_logo a {
background:url(plings_new.png) no-repeat;
display:block;
height:30px;
width:255px;
}

#banner_logo h1 {
display:none;
}

.nav {
width:100%;
}
.navlist_top {
width:760px;
margin:0 auto;
padding:0 0 6px 10px;
}

.navlist_top ul {
margin:0;
padding:0;color:#b10069; 
}

.navlist_top li {
margin:0;
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	color: #4f4c4c;
	}

.navlist_top li a:link, .navlist_top li a:visited  {
text-decoration:none;
	color:#b10069; 
	font-weight: bold;
	/*border: 1px solid #008400;*/
	padding:0;
	}
.navlist_top li a:focus, .navlist_top li a:hover {
text-decoration:underline;
}

#main {
width:760px;
margin:0 auto;
padding: 5px 0px 6px 20px;
}
.main_left {
float:left;
width:480px;
margin-right:20px;
}
.main_right {
float:right;
width:250px;
}
.side_bar_title {
font-size:0.8em;
}
a:link, a:visited {
color:#b10069; 
}
.sidebar_title h2 {
font-size:1.1em;
margin:20px 0 0 20px;
}
.sub_title {
font-size:1.1em;
}
.box1 {
font-size:0.8em;
}
#footer {
clear:both;
}

#footer {
    clear: both;
    margin-top:20px;
    border-top:1px solid #8ed8f8;
/*width: 845px*/
	  width: 760px;
	  text-align: left;
	  color:#333;
	  font: 0.8em Verdana, Sans-Serif;
	}
#footer .footer-contents {
	/*width: 845px*/
	width: 760px;
	float: left;
	background-color:#fff;footer
	}
#footer #footer_top {
	margin: 0;
	padding: 0;
	line-height:10px;
	background: #333 url('../images/footer_top.gif') no-repeat;
	}	
#footer #footer_bottom {
	margin: 0;
	padding: 0;
	line-height:10px;
	background: #333 url('../images/footer_bottom.gif') no-repeat;
	}	
#footer .clearAll {
	margin: 0;
	padding: 0;
	clear:both;
	line-height: 0px;
	}		
#footer .copyright {
	margin: 0;
	padding: 0;
	color:#333333;
	text-align:center;
	line-height: 30px;
	font-size: 85%;
	}
#footer dl {
	float: left;
	margin: 10px 0;
	padding: 1px 0;
	width: 120px;
	min-height: 80px;
	}

#footer .last {
	border-right: none;
	
	width: 146px;
	} 

#footer dd {
	margin: 0;
	padding: 3px 10px;
	font-size: 85%;
}

#footer a {	
	color: #b10069;
	text-decoration: none;
	font-weight:normal;
	}		
#footer a:visited {
	color: #b10069;
	text-decoration: none;
		font-weight:normal;
	}
#footer a:hover {
	color:  #b10069;
	text-decoration:underline;
		font-weight:normal;
	}

#footer dd a span {
	text-transform: none;
}

#footer dt {
	font-size: 105%;
	font-weight: bold;
	letter-spacing: -0.02em;
	padding: 0 10px 10px 10px;
}

#footer .footer-feature {
	position: absolute;
	right: 10px;
	top: 28px;
}

