.exp {
    font-weight: bold;
}
li, ul, h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ul .actinfo {
    border-left: 1px solid black;
    margin-left: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0.5em; 
}
.label {
    font-weight: bold;
}
.num {
    color: #7d0063;
    font-weight: 600;
}
li {
    list-style-type:none; 
}
.footer {
    margin-top: 1em; text-align: center;
}
 .days {
 width:150px;
 float:left;
 padding-top:5px;
 }
  .sort {
 width:450px;
 float:left;
  padding-top:5px;
 }
 .show, .params {
 clear:left;
 float:left;
 width:100%;
 }
 .submit {
 clear:both;
 }



html * { font-family: helvetica, arial, sans-serif; }

body
{
	font-size: 80%;
	/* 1em = 10px */
}

h1 { font-size: 3.6em; }
h2 { font-size: 2.4em; }
h3 { font-size: 2.4em; }

h3 {
    color: #4f4c4c;
}
a{
	color: #b10069; /* corporate magenta */
}

a:hover{
	color: #ff0097;
}
